{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<div class="contianer">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 align-item-center">
            <div class="widget welcome-message">
                <h2>重置密码</h2>
            </div>
            <!-- Edit Personal Info -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="widget personal-info">
                        <form action="{{url_for('account', action=current_action, page=next_page)}}" method="post">
                            {{form_password.csrf_token()}}
                            <div class="form-group">
                                <label for="first-name">{{form_password.password1.label.text}}</label>
                                {{form_password.password1}}
                            </div>

                            <div class="form-group">
                                <label for="first-name">{{form_password.password2.label.text}}</label>
                                {{form_password.password2}}
                            </div>

                            {{form_password.submit}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}