{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<div class="contianer">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 align-item-center">
            <div class="widget welcome-message">
                <h2>账号申诉</h2>
            </div>
            <!-- Edit Personal Info -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="widget personal-info">
                        <form action="{{url_for('account', action=current_action, page=next_page)}}" method="post">
                            {{form_appeal.csrf_token()}}
                            <div class="form-group">
                                <label for="first-name">{{form_appeal.title.label.text}}</label>
                                {{form_appeal.title}}
                            </div>

                            <div class="form-group">
                                <label for="first-name">{{form_appeal.reason.label.text}}</label>
                                {{form_appeal.reason}}
                            </div>

                            {{form_appeal.submit}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}