<!-- {% extends "base.html" %} -->

<!-- TODO:抽象出模板 -->

{% block app_content %}
    <div class="container">
        <div class="row" style="word-break: break-all">
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" id="all">
                        {% if postType == 'all' %}
                            <a class="nav-link active" href="/bbs/allposts/all">综合讨论区</a>
                        {% else %}
                            <a class="nav-link" href="/bbs/allposts/all">综合讨论区</a>
                        {% endif %}
                    </li>
                    <li class="nav-item" id="QA">
                        {% if postType == 'QA' %}
                            <a class="nav-link active" href="/bbs/allposts/QA">答疑区</a>
                        {% else %}
                            <a class="nav-link" href="/bbs/allposts/QA">答疑区</a>
                        {% endif %}
                    </li>
                </ul>
                <br>
                <div class="tab-content">
					{% if postType == 'all' %}
                    <div id="all" class="tab-pane fade show active" role="tabpanel">
						{% if postsAll %}
						{% for post in postsAll %}
                        <article>
                            <h4><a href= {{ url_for('bbs_post', post_id = post.Post_ID, replied_id = 0) }}>
								{{ post.Topic }}</a></h4>
                             <ul class="list-inline">						 
                                <li class="list-inline-item">{{ post.Course }}</li>
                                <li class="list-inline-item">{{ post.Timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</li>
								<br>
								<li class="list-inline-item">{{ post.Body[0:150] }}……<br>
									<a class="text text-info" href= {{ url_for('bbs_post', post_id = post.Post_ID, replied_id = 0) }}>查看详情</a>
								</li>
                            </ul>
                        </article>
						{% endfor %}
						{% else %}
						<article>
                             <ul class="list-inline">						 
                                <li class="list-inline-item">已经到底了，下面什么也没有了嗷</li>
                            </ul>
						</article>
						{% endif %}
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
								{% if paginate1.has_prev %}
                                    <a class="page-link" href="?page={{ paginate1.prev_num }}">
									&laquo;</a>
								{% else %}
                                    <a class="page-link">&laquo;</a>
								{% endif %}
								</li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ paginate1.page }}">
									{{ paginate1.page }}</a>
                                </li>
								<li class="page-item">
								{% if paginate1.has_next %}
                                    <a class="page-link" href="?page={{ paginate1.next_num }}">
									&raquo;</a>
								{% else %}
								    <a class="page-link">&raquo;</a>
								{% endif %}
								</li>
                            </ul>
                        </nav>
                    </div>
					{% else %}
                    <div id="QA" class="tab-pane fade show active" role="tabpanel">
						{% if postsQA %}
						{% for postQA in postsQA %}
                        <article>
                            <h4><a href= {{ url_for('bbs_post', post_id = postQA.Post_ID, replied_id = 0) }}>
								{{ postQA.Topic }}</a></h4>
                             <ul class="list-inline">						 
                                <li class="list-inline-item">{{ postQA.Course }}</li>
                                <li class="list-inline-item">{{ postQA.Timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</li>
								<br>
								<li class="list-inline-item">{{ postQA.Body[0:150] }}……<br>
									<a class="text text-info" href= {{ url_for('bbs_post', post_id = postQA.Post_ID, replied_id = 0) }}>查看详情</a>
								</li>
                            </ul>
                        </article>
						{% endfor %}
						{% else %}
						<article>
                             <ul class="list-inline">						 
                                <li class="list-inline-item">已经到底了，下面什么也没有了嗷</li>
                            </ul>
						</article>
						{% endif %}
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
								{% if paginate2.has_prev %}
                                    <a class="page-link" href="?page={{ paginate2.prev_num }}">
									&laquo;</a>
								{% else %}
                                    <a class="page-link">&laquo;</a>													
								{% endif %}
								</li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ paginate2.page }}">
									{{ paginate2.page }}</a>
                                </li>
								<li class="page-item">
								{% if paginate2.has_next %}
                                    <a class="page-link" href="?page={{ paginate2.next_num }}">
									&raquo;</a>
								{% else %}
								    <a class="page-link">&raquo;</a>
								{% endif %}
								</li>
                            </ul>
                        </nav>
                    </div>
					{% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}