{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel">
                        <article>
                            <h3><a href="{{url_for('homework_check', page='00001')}}'">八数码</a></h3>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#">张劳斯</a></li>
                                <li class="list-inline-item">Mar 21 2020</li>
                            </ul>
                        </article>
                        <article>
                            <h3><a href="#">汉诺塔</a></h3>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#">李劳斯</a></li>
                                <li class="list-inline-item">May 11 2020</li>
                            </ul>
                        </article>
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#">&laquo;</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}