{% extends "base.html" %}

{% block app_content %}
<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>Home</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{{url_for('static', filename='images/index/timg.jpg')}}" class="img-fluid w-100 rounded" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <div class="about-content">
                    <h3 class="font-weight-bold">简介</h3>
                    <p>&emsp;&emsp;本系统充分考虑了面向新时代计算机专业的教学管理模式，避免了以往教学管理平台与OJ平台分离的情况。降低管理难度、优化管理配置、进一步加强教学全方位一体化、解决现存线上教学的痛点等问题。本系统坚持简约而不简单的设计理念，力求系统简单易用、功能完备、适应教学。</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}