{% extends "myinfo_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block myinfo_content %}
<div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
    <div class="content mt-5 pt-5">
        <h3 class="tab-title">我的信息</h3>
        <table class="table table-bordered product-table">
            <tbody>
                <tr>
                    <td>身份</td>
                    <td>{{user.identification}}</td>
                </tr>
                <tr>
                    <td>学号</td>
                    <td>{{user.id}}</td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>手机</td>
                    <td>{{user.phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}