{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- TODO:抽象出模板 -->

{% block app_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <form method="post">
                        {{ form.csrf_token() }}
                        <div class="form-row justify-content-center">
                            <div class="form-group form-inline col-auto">
                                {{ form.problemId.label(class = 'mx-1') }}
                                {{ form.problemId(class = 'form-control') }}
                            </div>
                            <div class="form-group form-inline col-auto">
                                {{ form.language.label(class = 'mx-1') }}
                                {{ form.language(class = 'form-control') }}
                            </div>
                            <div class="form-group form-inline col-auto">
                                {{ form.result.label(class = 'mx-1') }}
                                {{ form.result(class = 'form-control') }}
                            </div>
                            <div class="form-group col-auto">
                                {{ form.submitFilter(class = 'btn btn-primary') }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>提交编号</th>
                                <th>题目id</th>
                                <th>提交用户</th>
                                <th>语言</th>
                                <th>结果</th>
                                <th>运行时间</th>
                                <th>运行内存</th>
                                <th>代码长度</th>
                                <th>提交时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in recordList %}
                                <tr>
                                    <td><a class="text-info" href="#" data-toggle="modal" data-target="#code{{ record["Record"].Record_ID }}">{{ record["Record"].Record_ID }}</a></td>
                                    <td><a class="text-info" href="{{ url_for('problem', Problem_ID = record["Record"].Problem_ID) }}">{{ record["Record"].Problem_ID }}</a></td>
                                    <td>{{ record["Record"].Student_ID }}</td>
                                    <td>{{ record["Record"].Language }}</td>
                                    <td><a class="text-info" href="#" data-toggle="modal" data-target="#result{{ record["Record"].Record_ID }}">{{ record["JudgeResult"] }}</a></td>
                                    <td>{{ record["TimeLimit"] }}MS</td>
                                    <td>{{ record["MemoryLimit"] }}MB</td>
                                    <td>{{ record["Record"].CodeLength }}</td>
                                    <td>{{ record["Record"].Submit_Time }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    {% if pagination != null %}
                        {{ pagination.links }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% for record in recordList %}
        <div class="modal fade" id="code{{ record["Record"].Record_ID }}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>代码</h4>
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <pre><code>{{ record["Code"] }}</code></pre>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for record in recordList %}
    <div class="modal fade" id="result{{ record["Record"].Record_ID }}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>结果详细信息</h4>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    {% if record["JudgeResult"] == '编译错误' %}
                    <pre><code>{{ record["CEINFO"] }}</code></pre>
                    {% else %}
                    <pre><code>{{ record["JudgeResult"] }}</code></pre>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}