{% extends "base.html" %}

<!-- TODO:抽象出模板 -->

{% block app_content %}
    <div class="container">
        <div class="row" style="word-break: break-all">
            <div class="col-md-12">
                <div class="tab-content">
                    <div id="all" class="tab-pane fade show active" role="tabpanel">
						{% if notices %}
						{% for notice in notices %}
                        <article>
                            <h4><a href= {{ url_for('notice_notice', notice_id = notice.Notice_ID) }}>
								{{ notice.Topic }}</a></h4>
                             <ul class="list-inline">						 
                                <li class="list-inline-item">{{ notice.Course }}</li>
                                <li class="list-inline-item">{{ notice.Timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</li>
								<br>
								<li class="list-inline-item">{{ notice.Body[0:150] }}……<br>
									<a class="text text-info" href= {{ url_for('notice_notice', notice_id = notice.Notice_ID) }}>查看详情</a>
								</li>
                            </ul>
                        </article>
						{% endfor %}
						{% else %}
						<article>
                             <ul class="list-inline">						 
                                <li class="list-inline-item">已经到底了，下面什么也没有了嗷</li>
                            </ul>
						</article>
						{% endif %}
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
								{% if paginate2.has_prev %}
                                    <a class="page-link" href="?page={{ paginate2.prev_num }}">
									&laquo;</a>
								{% else %}
                                    <a class="page-link">&laquo;</a>
								{% endif %}
								</li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ paginate2.page }}">
									{{ paginate2.page }}</a>
                                </li>
								<li class="page-item">
								{% if paginate2.has_next %}
                                    <a class="page-link" href="?page={{ paginate2.next_num }}">
									&raquo;</a>
								{% else %}
								    <a class="page-link">&raquo;</a>
								{% endif %}
								</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}