<!-- {% extends "base.html" %} -->

{% block app_content %}

<div class="container">
    <div class="row justify-content-center" style="word-break: break-all">
        <div class="widget col-md-12">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div>
                        <h3>{{ notice.Topic }}</h3>
                        <p>所属课程：{{ notice.Course }}</p>
                    </div>
                    {% if (notice.UserIdentity == curUserIdentity and notice.User_ID == curUser_ID) or curUserIdentity == 0 %}
                    <form method="post">
                        {{ delete_form.csrf_token() }}
                        <span class="btn btn-danger mt-1 px-4.5" data-target="#form_delete_Modal" data-toggle="modal"
                            id="submit" name="submit">删除</span>
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="form_delete_Modal" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">删除通知</h4>
                                    </div>
                                    <div class="modal-body">确定要删除通知吗？</div>
                                    <div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        {{ delete_form.submitDelete(class = 'btn btn-danger mt-1 px-4') }}
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.modal -->
                    </form>
                    {% endif %}
                </div>
            </div>
            <ul class="list-unstyled">
                <hr>
                <li class="media">
                    <div>
                        <img class="rounded" src={{url_for('static',filename=('user/Avater/'+get_avater(notice.UserIdentity, notice.User_ID)))}}
						width=128 height=128 alt="avater image">
                        <p class="text-center mt-2">{{ IdentityList[notice.UserIdentity] }}：{{ notice.UserName }}
                            {% if notice.UserIdentity == curUserIdentity and notice.User_ID == curUser_ID %}
                            <span class="text text-primary">（我）</span>
                            {% endif %}
                        </p>
                    </div>
                    <div class="media-body ml-4">
                        <p>
                            <small>{{ notice.Timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</small>
                        </p>
                        <p class="mt-2" style="white-space:pre-wrap">{{ notice.Body }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}