{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- TODO:抽象出模板 -->

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>题目id</th>
                                    <th>题目名称</th>
                                    <th>发布教师</th>
                                    <th>发布时间</th>
                                    <th>截止时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for problem in problemList %}
                                    <tr>
                                        <td>{{ problem['Problem_Id'] }}</td>
                                        <td><a class="text-info" href="{{url_for('problem',Problem_ID=problem['Problem_Id'])}}">{{ problem['Problem_Name'] }}</a></td>
                                        <td>{{ problem['Teacher_Name'] }}</td>
                                        <td>2020/6/15 18:00</td>
                                        <td>2020/9/1 0:00</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                        {{ pagination.links }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}