{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="container">
	<article class="single-post">
		<h1>{{ details['Problem_Name'] }}</h1>
		<ul class="list-inline">
			<li class="list-inline-item">by 教师{{ details['TeacherName'] }}</li>
			<li class="list-inline-item">日期</li>
		</ul>
        <div class="alert alert-info">
            注意：本题开启首行检查<br>
            首行格式：<br>
            /* 学号 班级 姓名 */<br>
            或<br>
            // 学号 班级 姓名
        </div>
		<div class="widget welcome-message">
			<h4>背景</h4>
			<p>{{ details['Background'] }}</p>
			<h4 class="widget-header user">描述</h4>
			<p>{{ details['Description'] }}</p>
			<h4 class="widget-header user">输入</h4>
			<p>{{ details['InputFormat'] }}</p>
			<h4 class="widget-header user">输出</h4>
			<p>{{ details['OutputFormat'] }}</p>
			<h4 class="widget-header user">样例输入</h4>
			<p>{{ details['SampleInput'] }}</p>
			<h4 class="widget-header user">样例输出</h4>
			<p>{{ details['SampleOutput'] }}</p>
			<h4 class="widget-header user">时间限制</h4>
			<p>{{ details['TimeLimit'] }}</p>
			<h4 class="widget-header user">内存限制</h4>
			<p>{{ details['MemoryLimit'] }}</p>
            {% if current_user.Identification == 'Student' %}
                <div class="submit-content">
                    <a href="{{url_for('oj_submit',Problem_ID=details['Problem_ID'])}}" class="btn btn-info">Submit</a>
                </div>
            {% endif %}

		</div>
	</article>
</div>



{% endblock %}